body {
    background-color: rgba(245, 248, 255, 1);
    font-family: "Raleway", sans-serif;
}

main {
    width: 1140px;
    margin: auto;
}

/* nav style  */

.header {
    background-image: url(/Image/Hero-bg.png);
    padding: 0 0 150px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

nav {
    width: 1140px;
    margin: auto;
}


.header h3 {
    font-size: 34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}

.webflow {
    text-align: center;
}

h1 {
    font-size: 65px;
    font-weight: 700;
}

/* shard style  */

.button {
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    gap: 10;
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

/* action section  */

.action h3 {
    font-size: 40px;
    color: rgba(37, 36, 50, 1);
}

.image {
    border-radius: 48px;
}

.webflew {
    align-items: center;
    padding-top: 116px;
}

/* productive section  */

.users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    text-align: center;
    margin: 110px 0;
}

.users h3{
    margin: 0;
    font-size: 38px;
    margin-bottom: 40px;
}

.users h1 {
    color: rgba(78, 71, 255, 1);
    margin: 0;
}

/* Review section  */

.avater{
    display: flex;
    gap: 6px;
}

.avater img{
    border-radius: var(--Radius-Full, 9999px);
}