body {
    background-color: rgba(245, 248, 255, 1);
    font-family: "Raleway", sans-serif;
}

main {
    width: 1140px;
    margin: auto;
}

/* nav style  */

.header {
    background-image: url(/Image/Hero-bg.png);
    padding: 0 0 150px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

nav {
    width: 1140px;
    margin: auto;
}


.header h3 {
    font-size: 34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}

.webflow {
    text-align: center;
}

h1 {
    font-size: 65px;
    font-weight: 700;
}

/* shard style  */

.button {
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    gap: 10;
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

/* action section  */

.action h3 {
    font-size: 40px;
    color: rgba(37, 36, 50, 1);
}

.image {
    border-radius: 48px;
}

.webflew {
    align-items: center;
    padding-top: 116px;
}

/* productive section  */

.users {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    text-align: center;
    margin: 110px 0;
}

.users h3 {
    margin: 0;
    font-size: 38px;
    margin-bottom: 40px;
}

.users h1 {
    color: rgba(78, 71, 255, 1);
    margin: 0;
}

/* Review section  */

.card {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
}

.card-gap {
    gap: 20px;
}

.avater {
    display: flex;
    align-items: center;
    gap: 6px;
}

.review h3 {
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.avater p {
    margin: 0px;
}

.avater img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.love {
    font-size: 24px;
    color: rgba(30, 30, 30, 1);
    font-weight: 600;
}

.template {
    font-size: 16px;
    font-weight: 400;
    color: rgba(30, 30, 30, 1);
}

.name {
    font-size: 16px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: rgba(179, 179, 179, 1);
    padding-top: 4px;
}


/* better section  */

.better {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 14px;
    padding: 70px 0;
    margin: 140px 0 100px;
}

.better h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.better img {
    border-radius: 48px;
    margin-top: 20px;
}

/* form section  */

.form {
    width: 50%;
}

.form-section h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 97px;
    font-weight: 700;
    margin: 0;
}

#email,
#name,
#message {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    width: 85%;
    padding: 20px 32px;
    color: rgba(0, 0, 0, 0.5);
    gap: 1px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
    margin-top: 10px;
    margin-bottom: 19px;
}

label {
    font-weight: 500;
}

.touch {
    width: 100%;
    padding: 19px 101px;
}

/* footer section  */

footer {
    background-color: white;
    margin-top: 71px;
}

.footer {
    width: 50%;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}

.footer h3 {
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    font-weight: 900;
    margin: 0;
}